.center{
    width: 50%;
    margin: 150px auto 150px; 
    text-align: center;
}
/* .home-page{
    text-align: center;
    margin: 150px auto 150px; 
    width: 50%;
} */
.rover-page{
    margin-top: -80px;
    text-align: center;
}
#rovers, #search-btn{
    padding: 5px; 
    font-size: medium;
}
body{
    /* background-image: url('../img/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    color: white; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#photo-container img{
    width: 70%;
    height: auto;
}